USE [Price]
GO
/****** Object:  StoredProcedure [dbo].[updatepriclcost]    Script Date: 2026/6/3 下午 05:06:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		Benny
-- Create date: 20170124 修訂
-- Description:	報價成本計算處理
-- =============================================
ALTER PROCEDURE [dbo].[updatepriclcost]
AS
BEGIN
    DECLARE @aimlocked INT;

    SELECT @aimlocked = pub_aimlocked
    FROM pub WITH (NOLOCK);

    IF @aimlocked = 1
    BEGIN
        DECLARE @rmb FLOAT;
        SET @rmb =
        (
            SELECT cur_convert FROM cur WHERE cur_code = '人民幣'
        );

        UPDATE pri
        SET pri_tbprice = ROUND(CAST(asp_purprice * cur_convert AS DECIMAL(20, 9)), 6)
        FROM pri
            LEFT JOIN asp
                ON asp_id = pri_part
            LEFT JOIN cur
                ON cur_code = asp_currency
        WHERE ROUND(pri_tbprice, 6) <> (ROUND(CAST(asp_purprice * cur_convert AS DECIMAL(20, 9)), 6))
              AND pri_part <> '調/地稅(地方稅)';

        --先更新材料單價格
        EXEC updateBOM;

        --20170112 Benny 加入同步材料單價
        UPDATE ap3
        SET ap3_purprice = asp_purprice,
            ap3_tbprice = ROUND(CAST(asp_purprice * cur_convert AS DECIMAL(20, 9)), 6)
        FROM asp,
             cur,
             ap3
        WHERE asp_id = ap3_part
              AND ap3_currency = cur_code
              AND
              (
                  ROUND(ap3_purprice, 6) <> ROUND(asp_purprice, 6)
                  OR ROUND(ap3_tbprice, 6) <> ROUND(CAST(asp_purprice * cur_convert AS DECIMAL(20, 9)), 6)
              );

        UPDATE pri
        SET pri_tbprice = ap3_tbprice --報價台幣單價=BOM結構單價
        FROM ap3
        WHERE pri_part = ap3_part
              AND ROUND(pri_tbprice, 6) <> ROUND(ap3_tbprice, 6)
              AND pri_part <> '調/地稅(地方稅)';

        UPDATE pri
        SET pri_tbprice = ap3_tbprice --報價台幣單價=BOM結構單價
        FROM ap3
        WHERE pri_part = ap3_part
              AND ROUND(pri_tbprice, 6) <> ROUND(ap3_tbprice, 6)
              AND pri_part <> '調/貨物稅3%';

        UPDATE pri
        SET pri_tbprice = ap3_tbprice --報價台幣單價=BOM結構單價
        FROM ap3
        WHERE pri_part = ap3_part
              AND ROUND(pri_tbprice, 6) <> ROUND(ap3_tbprice, 6)
              AND pri_part <> '調/貨物稅3.5%';

        UPDATE pri
        SET pri_tbprice = ap3_tbprice --報價台幣單價=BOM結構單價
        FROM ap3
        WHERE pri_part = ap3_part
              AND ROUND(pri_tbprice, 6) <> ROUND(ap3_tbprice, 6)
              AND pri_part <> '調/貨物稅5%';


        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * @rmb * 0.03 * pri_perqty AS DECIMAL(20, 9)), 6),
            pri_tbprice = ROUND(CAST(pri_pricost * @rmb * 0.03 AS DECIMAL(20, 9)), 6)
        WHERE pri_part = '調/地稅(地方稅)'
              AND pri_newcostchk = 'N '
              AND
              (
                  pri_cost <> ROUND(CAST(pri_pricost * @rmb * 0.03 * pri_perqty AS DECIMAL(20, 9)), 6)
                  OR pri_tbprice <> ROUND(CAST(pri_pricost * @rmb * 0.03 AS DECIMAL(20, 9)), 6)
              );

--國內貨物稅3%
        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * 0.78 * 0.03 * pri_perqty AS DECIMAL(20, 9)), 6),
            pri_tbprice = ROUND(CAST(pri_pricost * 0.78 * 0.03 AS DECIMAL(20, 9)), 6)
        WHERE pri_part = '調/貨物稅3%'
              AND pri_newcostchk = 'N '
              AND
              (
                  pri_cost <> ROUND(CAST(pri_pricost * 0.78 * 0.03 * pri_perqty AS DECIMAL(20, 9)), 6)
                  OR pri_tbprice <> ROUND(CAST(pri_pricost * 0.78 * 0.03 AS DECIMAL(20, 9)), 6)
              );

--國內貨物稅3.5%
        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * 0.78 * 0.035 * pri_perqty AS DECIMAL(20, 9)), 6),
            pri_tbprice = ROUND(CAST(pri_pricost * 0.78 * 0.035 AS DECIMAL(20, 9)), 6)
        WHERE pri_part = '調/貨物稅3.5%'
              AND pri_newcostchk = 'N '
              AND
              (
                  pri_cost <> ROUND(CAST(pri_pricost * 0.78 * 0.035 * pri_perqty AS DECIMAL(20, 9)), 6)
                  OR pri_tbprice <> ROUND(CAST(pri_pricost * 0.78 * 0.03 AS DECIMAL(20, 9)), 6)
              );

--國內貨物稅5%
        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * 0.78 * 0.05 * pri_perqty AS DECIMAL(20, 9)), 6),
            pri_tbprice = ROUND(CAST(pri_pricost * 0.78 * 0.05 AS DECIMAL(20, 9)), 6)
        WHERE pri_part = '調/貨物稅5%'
              AND pri_newcostchk = 'N '
              AND
              (
                  pri_cost <> ROUND(CAST(pri_pricost * 0.78 * 0.05 * pri_perqty AS DECIMAL(20, 9)), 6)
                  OR pri_tbprice <> ROUND(CAST(pri_pricost * 0.78 * 0.03 AS DECIMAL(20, 9)), 6)
              );
        --update pri set pri_assy='' where isnull(pri_assy,'')='' and pri_newcostchk='N '
        --update pri set pri_customer='' where isnull(pri_customer,'')='' and pri_newcostchk='N '
        UPDATE pri
        SET pri_assy = ''
        WHERE pri_assy IS NULL
              AND pri_newcostchk = 'N ';

        UPDATE pri
        SET pri_customer = ''
        WHERE pri_customer IS NULL
              AND pri_newcostchk = 'N ';

        UPDATE pri
        SET pri_date = ''
        WHERE pri_date IS NULL
              AND pri_newcostchk = 'N ';

        UPDATE pri
        SET pri_length = ''
        WHERE pri_length IS NULL
              AND pri_newcostchk = 'N ';

        UPDATE pri
        SET pri_cost = 0
        WHERE pri_cost IS NULL
              AND LEFT(pri_part, 3) <> '不良率'
              AND LEFT(pri_part, 2) <> '佣金'
              AND LEFT(pri_firstname, 1) <> '其'
              AND pri_newcostchk = 'N ';

        --改成小數點6位
        UPDATE pri
        SET pri_cost = ISNULL(ROUND(CAST(pri_tbprice * pri_perqty AS DECIMAL(20, 9)), 6), 0)
        WHERE LEFT(pri_part, 3) <> '不良率'
              AND LEFT(pri_part, 2) <> '佣金'
              AND RIGHT(pri_part, 1) <> '才'
              AND LEFT(pri_firstname, 1) <> '其'
              AND pri_cost <> ROUND(CAST(pri_tbprice * pri_perqty AS DECIMAL(20, 9)), 6);

        --20170702 依李先生要求不良率計算,材料名第一個字為包/裝/運/不等,不記入不良率
        --update pri set pri_cost=isnull(round(c.qt*pri_tbprice*pri_perqty,6),0) from (select a.nbr as ab,b.qty as qt from ( select pri_nbr as nbr,pri_assy,pri_date,pri_customer,pri_length,pri_customerid from pri where substring(pri_part,1,3)='不良率') as a left outer join ( select pri_assy,pri_date,pri_customer,pri_length,pri_customerid,sum(pri_cost) as qty from pri  where substring(pri_firstname,1,1) in('1','2','3','4','5','9','其') and substring(pri_part,1,1) not in ('包','裝','運','出','不') and pri_part not like '%才' group by pri_assy,pri_date,pri_customer,pri_length,pri_customerid) as b on a.pri_assy=b.pri_assy and a.pri_date=b.pri_date and a.pri_customer=b.pri_customer and a.pri_length=b.pri_length and a.pri_customerid=b.pri_customerid) as c,pri where pri_nbr=c.ab and round(pri_cost,6) <> isnull(round(c.qt*pri_tbprice*pri_perqty,6),0) and pri_newcostchk='N '
        UPDATE pri
        SET pri_cost = c.nqt
        FROM
        (
            SELECT a.nbr AS ab,
                   b.qty AS qt,
                   ISNULL(ROUND(CAST(a.tb * a.tp * b.qty AS DECIMAL(20, 9)), 6), 0) AS nqt
            FROM
            (
                SELECT pri_nbr AS nbr,
                       pri_assy,
                       pri_date,
                       pri_customer,
                       pri_length,
                       pri_customerid,
                       pri_tbprice AS tb,
                       pri_perqty AS tp
                FROM pri
                WHERE LEFT(pri_part, 3) = '不良率'
            ) AS a
                LEFT JOIN
                (
                    SELECT pri_assy,
                           pri_date,
                           pri_customer,
                           pri_length,
                           pri_customerid,
                           SUM(pri_cost) AS qty
                    FROM pri
                    WHERE LEFT(pri_part, 1) NOT IN ( '包', '裝', '運', '不', '調' )
                          AND RIGHT(pri_part, 1) <> '才'
                    GROUP BY pri_assy,
                             pri_date,
                             pri_customer,
                             pri_length,
                             pri_customerid
                ) AS b
                    ON a.pri_assy = b.pri_assy
                       --and a.pri_date=b.pri_date and a.pri_customer=b.pri_customer and a.pri_length=b.pri_length 
                       AND a.pri_customerid = b.pri_customerid
        ) AS c ,
        pri
        WHERE pri_nbr = c.ab
              AND pri_newcostchk = 'N '
              AND ROUND(CAST(pri_cost AS DECIMAL(20, 9)), 6) <> c.nqt;

        --and round(CAST(pri_cost AS decimal(20,6)),6) <> isnull(round(CAST((c.qt*pri_tbprice*pri_perqty) AS decimal(20,6)),6),0) 
        --20161013 Benny 加入紙箱計算為單價/數量
        UPDATE pri
        SET pri_cost = ISNULL(ROUND(CAST(pri_tbprice / pri_perqty AS DECIMAL(20, 9)), 6), 0)
        WHERE RIGHT(pri_part, 1) = '才'
              AND pri_cost <> ROUND(CAST(pri_tbprice / pri_perqty AS DECIMAL(20, 9)), 6);

        UPDATE pri
        SET pri_clcost = ROUND(c.ccost, 6)
        FROM
        (
            SELECT a.pri_nbr AS nbr,
                   (CASE
                        WHEN a.pri_um = 'Feet'
                             AND a.pri_newcostchk = 'Y2' THEN
                   (b.cost / 3.28084)
                        ELSE
                            b.cost
                    END
                   ) AS ccost
            FROM pri AS a
                LEFT OUTER JOIN
                (
                    SELECT pri_assy AS assy,
                           pri_customerid AS customerid,
                           ISNULL(SUM(pri_cost), 0) AS cost
                    FROM pri nolock
                    WHERE pri_newcostchk = 'N '
                    GROUP BY pri_assy,
                             pri_customerid
                ) AS b
                    ON a.pri_assy = b.assy
                       AND a.pri_customerid = b.customerid
                       AND pri_newcostchk = 'N '
        ) AS c ,
        pri
        --改成小數點6位
        WHERE c.nbr = pri_nbr
              AND pri_clcost <> ROUND(c.ccost, 6)
              AND pri_newcostchk = 'N ';

        UPDATE pri
        SET pri_convcost = ROUND(CAST(pri_clcost / cur_convert AS DECIMAL(20, 9)), 3)
        FROM pri,
             cur nolock
        WHERE pri_currency = cur_code
              AND pri_newcostchk = 'N '
              AND pri_convcost <> ROUND(CAST(pri_clcost / cur_convert AS DECIMAL(20, 9)), 3);

        UPDATE pri
        SET pri_ll = ROUND(CAST((pri_pricost - pri_convcost) * 100 / pri_convcost AS DECIMAL(20, 9)), 1),
            pri_customerll = ROUND((pri_hopelprice - pri_convcost) * 100 / pri_convcost, 1)
        WHERE pri_convcost <> 0
              AND pri_newcostchk = 'N '
              AND
              (
                  pri_ll <> ROUND((pri_pricost - pri_convcost) * 100 / pri_convcost, 1)
                  OR pri_customerll <> ROUND(
                                                CAST((pri_hopelprice - pri_convcost) * 100 / pri_convcost AS DECIMAL(20, 9)),
                                                1
                                            )
              );

        --改成小數點6位
        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6)
        FROM pri,
             cur nolock
        WHERE pri_currency = cur_code
              AND LEFT(pri_part, 2) = '佣金'
              AND pri_currency <> 'US$'
              AND pri_currency <> 'EUR'
              AND pri_newcostchk = 'N '
              AND pri_cost <> ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6);

        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6)
        FROM pri,
             cur nolock
        WHERE LEFT(pri_part, 2) = '佣金'
              AND pri_currency = 'US$'
              AND cur_code = '美金賣'
              AND pri_newcostchk = 'N '
              AND pri_cost <> ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6);

        UPDATE pri
        SET pri_cost = ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6)
        FROM pri,
             cur nolock
        WHERE LEFT(pri_part, 2) = '佣金'
              AND pri_currency = 'EUR'
              AND cur_code = '歐元賣'
              AND pri_newcostchk = 'N '
              AND pri_cost <> ROUND(CAST(pri_pricost * cur_convert * pri_tbprice AS DECIMAL(20, 9)), 6);

        --   update pri set pri_pricost=pri_convcost where pri_customer in ('1', '1G', '1GG', '1K', '4','1B','1S','1X','1C','1W','1M') and pri_gp=0 and pri_gc=0 and pri_pricost<>pri_convcost
        UPDATE odi
        SET odi_price = pri_convcost
        FROM odi,
             pri_aspupdate1
        WHERE odi_customerid = pri_customerid
              AND pri_customer = '4'
              AND odi_price <> pri_convcost;

        UPDATE odi
        SET odi_price = pri_convcost
        FROM odi,
             pri_aspupdate1
        WHERE odi_customerid = pri_customerid
              AND SUBSTRING(pri_customer, 1, 2) = '4-'
              AND odi_price <> pri_convcost;

        UPDATE odi
        SET odi_price = pri_pricost
        FROM odi,
             pri_aspupdate1
        WHERE odi_customerid = pri_customerid
              AND odi_customer <> '4'
              AND SUBSTRING(odi_customer, 1, 2) <> '4-'
              AND odi_price <> pri_pricost;

        UPDATE pld
        SET pld_pricost = pri_pricost,
            pld_ll = pri_ll,
            pld_hopecost = pri_hopelprice,
            pld_hopell = pri_customerll,
            pld_date = CONVERT(VARCHAR(2), DATEPART(mm, GETDATE())) + '/'
                       + CONVERT(VARCHAR(2), DATEPART(dd, GETDATE())) + '/'
                       + CONVERT(VARCHAR(4), DATEPART(yyyy, GETDATE()))
        FROM pld,
             pri
        WHERE pld_customerid = pri_customerid
              AND pld_name = '一般價'
              AND pld_pricost <> pri_pricost;

        UPDATE pld
        SET pld_ll = ROUND(CAST((pld_pricost - pri_convcost) * 100 / pri_convcost AS DECIMAL(20, 9)), 1),
            pld_hopell = ROUND(CAST((pld_hopecost - pri_convcost) * 100 / pri_convcost AS DECIMAL(20, 9)), 1)
        FROM pld,
             pri nolock
        WHERE pld_customerid = pri_customerid
              AND pld_name <> '一般價'
              AND pld_pricost <> pri_pricost;

        UPDATE pub
        SET pub_asplocked = 0,
            pub_aimlocked = 0;

        UPDATE asp
        SET asp_import = 0
        WHERE asp_import = 1;
    END;

    UPDATE asp
    SET asp_import = 0
    WHERE asp_import = 1;
END;
