USE [Price]
GO
/****** Object:  StoredProcedure [dbo].[updatepriclcost1]    Script Date: 2026/6/3 下午 06:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Benny
-- Create date: 20170223
-- Description:	膠粒成本計算處理
-- 版本2
-- =============================================
ALTER PROCEDURE [dbo].[updatepriclcost1]
AS
BEGIN
    DECLARE @fmtdate VARCHAR(19);

    --取得目前時間
    SET @fmtdate
        = CONVERT(VARCHAR(4), DATEPART(yyyy, GETDATE())) + '/' + CONVERT(VARCHAR(2), DATEPART(mm, GETDATE())) + '/'
          + CONVERT(VARCHAR(2), DATEPART(dd, GETDATE())) + ' ' + CONVERT(VARCHAR(2), DATEPART(hh, GETDATE())) + ':'
          + CONVERT(VARCHAR(2), DATEPART(mi, GETDATE())) + ':' + CONVERT(VARCHAR(2), DATEPART(ss, GETDATE()));

    --更新材料單的單身，找出單價 * 數量跟報價不同者，單身材料名不為「不良率、佣金」，材料名結尾不為「才」字，材料分類不為「其它料」
    UPDATE pri
    SET pri_cost = ROUND(pri_tbprice * pri_perqty, 6),
        pri_costflag = 'Y'
    WHERE pri_cost <> ROUND(pri_tbprice * pri_perqty, 6)
          AND LEFT(pri_part, 3) <> '不良率'
          AND LEFT(pri_part, 2) <> '佣金'
          AND LEFT(pri_firstname, 1) <> '其'
          AND RIGHT(pri_part, 1) <> '才'
          AND pri_newcostchk = 'Y1';

    --更新材料單中不良率的金額不正確的單子
    UPDATE pri
    SET pri_cost = aa.clsum
    FROM
    (
        ----找出材料單中有不良率的單子，並重新計算其不良率的正確金額
        SELECT a.pri_customerid,
               a.pri_assy,
               ROUND(SUM(a.pri_cost) * b.pri_tbprice * b.pri_perqty, 6) AS clsum
        FROM pri AS a WITH (NOLOCK)
            LEFT JOIN
            (
                SELECT pri_tbprice,
                       pri_perqty,
                       pri_customerid,
                       pri_assy
                FROM pri nolock
                WHERE LEFT(pri_part, 3) = '不良率'
                      AND pri_newcostchk = 'Y1'
            ) AS b
                ON a.pri_customerid = b.pri_customerid
                   AND a.pri_assy = b.pri_assy
        WHERE a.pri_newcostchk = 'Y1'
              AND LEFT(a.pri_part, 3) <> '不良率'
        GROUP BY a.pri_customerid,
                 a.pri_assy,
                 b.pri_tbprice,
                 b.pri_perqty
    ) AS aa ,
    pri AS bb
    WHERE LEFT(bb.pri_part, 3) = '不良率'
          AND bb.pri_newcostchk = 'Y1'
          AND bb.pri_customerid = aa.pri_customerid
          AND bb.pri_assy = aa.pri_assy
          AND aa.clsum <> bb.pri_cost;

    --更新材料單的材料價(成本)
    UPDATE pri
    SET pri_clcost = ROUND(ab.材料價, 6),
        pri_costflag = 'N'
    FROM
    (
        --計算材料單的材料價(成本)
        SELECT DISTINCT
               c.pri_customerid,
               c.pri_assy,
               (CASE
                    WHEN pri_um = 'Feet' THEN
               (c1.clsum + c2.a1 + c3.cost + c4.cost) / 3.28084
                    ELSE
               (c1.clsum + c2.a1 + c3.cost + c4.cost)
                END
               ) AS 材料價
        FROM pri AS c WITH (NOLOCK)
            LEFT JOIN
            (
                ----找出材料單中有不良率的單子，並重新計算其不良率的正確金額
                SELECT SUM(a.pri_cost) * b.pri_tbprice * b.pri_perqty AS clsum,
                       a.pri_customerid,
                       a.pri_assy
                FROM pri AS a WITH (NOLOCK)
                    LEFT JOIN
                    (
                        SELECT pri_tbprice,
                               pri_perqty,
                               pri_customerid,
                               pri_assy
                        FROM pri nolock
                        WHERE LEFT(pri_part, 2) = '不良'
                              AND pri_newcostchk = 'Y1'
                    ) AS b
                        ON a.pri_customerid = b.pri_customerid
                           AND a.pri_assy = b.pri_assy
                WHERE a.pri_newcostchk = 'Y1'
                      AND LEFT(a.pri_part, 2) <> '不良'
                GROUP BY a.pri_customerid,
                         a.pri_assy,
                         b.pri_tbprice,
                         b.pri_perqty
            ) AS c1
                ON c1.pri_customerid = c.pri_customerid
                   AND c1.pri_assy = c.pri_assy
            LEFT JOIN
            (
                ----記算材料單中單身不包含「不良、加工、編織」字串的材料名後，其成本金額
                SELECT SUM(pri_cost) / SUM(pri_perqty) AS a1,
                       pri_customerid,
                       pri_assy
                FROM pri nolock
                WHERE pri_newcostchk = 'Y1'
                      AND SUBSTRING(pri_part, 1, 2) NOT IN ( '不良', '加工', '編織' )
                GROUP BY pri_customerid,
                         pri_assy
            ) AS c2
                ON c2.pri_customerid = c.pri_customerid
                   AND c2.pri_assy = c.pri_assy
            LEFT JOIN
            (
                ----記算材料單中單身「加工」項目，其金額
                SELECT SUM(pri_cost) AS cost,
                       pri_customerid,
                       pri_assy
                FROM pri nolock
                WHERE LEFT(pri_part, 2) = '加工'
                      AND pri_newcostchk = 'Y1'
                GROUP BY pri_customerid,
                         pri_assy
            ) AS c3
                ON c3.pri_customerid = c.pri_customerid
                   AND c3.pri_assy = c.pri_assy
            LEFT JOIN
            (
                ----記算材料單中單身「編織」項目，其金額
                SELECT SUM(pri_cost) AS cost,
                       pri_customerid,
                       pri_assy
                FROM pri nolock
                WHERE LEFT(pri_part, 2) = '編織'
                      AND pri_newcostchk = 'Y1'
                GROUP BY pri_customerid,
                         pri_assy
            ) AS c4
                ON c4.pri_customerid = c.pri_customerid
                   AND c4.pri_assy = c.pri_assy
    ) AS ab ,
    pri AS ac
    WHERE ac.pri_newcostchk = 'Y1'
          AND ac.pri_customerid = ab.pri_customerid
          AND ac.pri_assy = ab.pri_assy
          AND ac.pri_clcost <> ROUND(ab.材料價, 6);

    --找出火車頭單價跟材料單的成本不一致的
    UPDATE asp
    SET asp_location = 'S',
        asp_purprice = ROUND(a01.pri_clcost, 6),
        asp_pricecal = LTRIM(STR(ROUND(a01.pri_clcost, 6), 100, 6)),
        asp_currency = '臺幣',
        asp_user = '系統更新'
    FROM
    (
        SELECT DISTINCT
               pri_customerid,
               pri_assy,
               pri_clcost
        FROM pri
        WHERE pri_newcostchk = 'Y1'
    ) AS a01 ,
    asp
    WHERE asp_id = a01.pri_customerid
          AND asp_vendormaterialno = a01.pri_assy
          AND a01.pri_clcost <> asp_purprice;

    --找出火車頭內層單價跟材料單的成本不一致的
    UPDATE aspnum
    SET aspnum_price = ROUND(a02.pri_clcost, 6),
        aspnum_pricecal = LTRIM(STR(ROUND(a02.pri_clcost, 6), 100, 6)),
        aspnum_currency = '臺幣'
    FROM
    (
        SELECT DISTINCT
               pri_customerid,
               pri_assy,
               pri_clcost
        FROM pri
        WHERE pri_newcostchk = 'Y1'
    ) AS a02 ,
    aspnum
    WHERE aspnum_id = a02.pri_customerid
          AND aspnum_num = a02.pri_assy
          AND a02.pri_clcost <> aspnum_price;
END;
